numpy
future
matplotlib
scikit-learn
tqdm
networkx>=2.4
demon
python-louvain>=0.16
nf1
scipy
pulp
seaborn
pandas	
eva_lcd
bimlpa
markov_clustering
chinese_whispers
python-igraph
angel-cd
pooch
dynetx
thresholdclustering
pyclustering
cython
python-Levenshtein
regex
fuzzy-c-means
cdlib
pytz
python-dateutil
node2vec
GEM @ git+https://github.com/palash1992/GEM.git
leidenalg